<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JQuery</title>
</head>
<body>
    <div class="wrapper">
        <h1 id="mainTitle">My JQuery Page</h1>
        <div>
            <h3 id="firstTitle">This is some subheader</h3>
            <p class="firstParagraph">Hello</p>
            <p>Yes it is subheader!</p>
        </div>
        <div class="innerWrapper">
            <h3 id="secondTitle">This is second subheader</h3>
            <p>Hello again!</p>
            <p>Yes it is another subheader!</p>
        </div>
        <button>Click</button>
        <input type="text" value="Cool">
    </div>
    <!-- Localy -->
    <script src="../lib/jquery-v3-7-1.js"></script>
    <!-- CDN - LINK -->
    <!-- <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script> -->
     <script src="../src/app.js"></script>
</body>
</html>