body {
  font-family: sans-serif;
}

.form {
  width: 300px;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  justify-content: space-between;
}

.controls {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
